<html>
	<style type="text/css">
		body {
			width: 50%;
			margin: auto;
			font-size: 1.2em;
			background-color: rgb(22, 22, 22);
		}
	</style>
	<div
		style="
			color: white;
			padding: 10px;
			border-radius: 10px;
			margin: 20px auto;
			background-color: rgb(22, 22, 22);
		"
	>
		<img
			src="https://firebasestorage.googleapis.com/v0/b/ihatereading-4ba52.appspot.com/o/Company%2Fwhitelogo.png?alt=media&token=bf0f2344-0e56-43a7-8497-a4a242ff6786"
			style="
				height: 4em !important;
				border-radius: 10px;
				width: 4em;
				object-fit: contain;
			"
		/>
		<p>Hello {{ receiptName }}, Welcome to the iHateReading newsletter.</p>
		<p>
			Let’s start with a good news, we have released version 2.0 of our website.
		</p>
		<h2>📊 Version 2.0 updates</h2>
		<ol>
			<li>New user interface for home page</li>
			<li>Dark theme become bit more dark</li>
			<li>
				<a
					href="https://www.producthunt.com/posts/ihatereading"
					target="_blank"
					class="buttonLink"
					style="
						text-decoration: underline;
						color: rgb(255, 156, 173);
						margin-left: 4px;
					"
					>We are live on Product Hunt</a
				>
			</li>
			<li>
				Added 3 dedicated sections called steps, videos and repositories on
				website
			</li>
		</ol>
		<a
			href="http://ihatereading.in"
			target="_blank"
			class="buttonLink"
			style="
				text-decoration: underline;
				color: rgb(255, 156, 173);
				margin-left: 4px;
			"
			>click to read website</a
		>
		<br />
		<br />
		<h2>🧵 Latest Threads</h2>
		<p>Sharing the latest threads released in last week.</p>
		<div>
			<div
				style="
					border-radius: 10px;
					width: auto;
					padding: 10px;
					margin: 10px;
					color: white;
					border: 1px solid rgb(36, 36, 36);
					background-color: rgb(25, 25, 25);
				"
			>
				<a
					href="https://firebasestorage.googleapis.com/v0/b/ihatereading-4ba52.appspot.com/o/Threads%2FQXq1wZdVU3X7pGJJjdiB2JSavdk1%2Fimages%2FWeb3%20Tech%20Stack.png?alt=media&token=6d31602d-da58-4492-ade7-c176f9d2b0cd"
					target="_blank"
					style="color: rgb(211, 158, 255); text-decoration: none"
				>
					<p>Web3 application tech stack 2022</p>
				</a>
			</div>
			<div
				style="
					border-radius: 10px;
					width: auto;
					padding: 10px;
					color: white;
					margin: 10px;
					border: 1px solid rgb(36, 36, 36);
					background-color: rgb(25, 25, 25);
				"
			>
				<a
					href="http://www.ihatereading.in/t/OgkEGFoLQSaztXcGqDP1/Redesigning-India%E2%80%99s-most-used-website"
					target="_blank"
					style="color: rgb(211, 158, 255); text-decoration: none"
				>
					<p>Redesigning India's most used best website</p>
					<img
						style="height: 18em !important; border-radius: 8px; width: 100%"
						src="https://firebasestorage.googleapis.com/v0/b/ihatereading-4ba52.appspot.com/o/Threads%2FQXq1wZdVU3X7pGJJjdiB2JSavdk1%2Fimages%2F1_C3RoWUQd3dahaL-FZ8FvCQ.png?alt=media&token=7e1b69c6-080e-4377-a523-5fde6c603cdc"
					/>
				</a>
			</div>
		</div>
		<br />
		<a
			href="https://www.ihatereading.in/"
			class="buttonLink"
			style="
				text-decoration: underline;
				color: rgb(255, 156, 173);
				margin-left: 4px;
			"
			>more such threads...</a
		>
		<br />
		<br />
		<h2>👨🏼‍💻 Newly added repositories</h2>
		<p>
			Newly added 2 repository to get yourself dirty with production level code.
		</p>
		<br />
		<div
			style="
				border-radius: 10px;
				width: auto;
				padding: 10px;
				margin: 10px;
				color: white;
				border: 1px solid rgb(36, 36, 36);
				background-color: rgb(25, 25, 25);
			"
		>
			<a
				href="www.ihatereading.in/r/mkKqVTyW7IpKNFSWU4vt/Drag-and-Drag-code-example"
				target="_blank"
				style="color: rgb(211, 158, 255); text-decoration: none"
			>
				<p>Add drag-drop functionality in react application</p>
			</a>
		</div>
		<div
			style="
				border-radius: 10px;
				width: auto;
				padding: 10px;
				margin: 10px;
				border: 1px solid rgb(36, 36, 36);
				background-color: rgb(25, 25, 25);
			"
		>
			<a
				href="www.ihatereading.in/r/mkKqVTyW7IpKNFSWU4vt/Drag-and-Drag-code-example"
				target="_blank"
				style="color: rgb(211, 158, 255); text-decoration: none"
			>
				<p>Web3 wallet authentication using VeChain - code repository</p>
			</a>
		</div>
		<a
			href="https://ihatereading.in/customrepo"
			class="buttonLink"
			style="
				text-decoration: underline;
				color: rgb(255, 156, 173);
				margin-left: 4px;
			"
			>more such repository...</a
		>
		<br />
		<br />
		<h2>💌 Subscribe to newsletter</h2>
		<div
			style="
				border-radius: 10px;
				width: auto;
				padding: 10px;
				margin: 10px;
				color: white;
				border: 1px solid rgb(36, 36, 36);
				background-color: rgb(25, 25, 25);
			"
		>
			<a href="https://ihatereading.in/subscribe">
				<img
					src="https://firebasestorage.googleapis.com/v0/b/ihatereading-4ba52.appspot.com/o/Company%2FSubscribers%20page.png?alt=media&token=ded4dcc4-a3d3-41b1-94c8-30a6c50aaafc"
					style="height: 18em !important; border-radius: 8px; width: 100%"
				/>
			</a>
		</div>
		<br />
		<br />
		<div>
			<h2>🤝 Gumroads Templates</h2>
			<p>
				I am accommodating my 4 years of industry experience into a single
				templates using Notion. I share the ready to use industry standards
				processes, steps and opinions I've followed so far to help you in making
				your life better by becoming financially independent. Everyone can
				become financially independent and all they need is to bit more
				organised and consistent.
			</p>
			<a
				href="https://shreyvijayvargiya.gumroad.com/"
				style="
					color: black;
					background-color: rgb(123, 252, 48);
					border-radius: 4px;
					text-decoration: none;
					padding: 10px;
					margin: 4px;
				"
				target="_blank"
			>
				Browse templates</a
			>
		</div>
		<br />
		<br />
		<div>
			<p>That’s it for today, Until next time, have a good day.</p>
			<p><strong>Shrey</strong></p>
			<a
				href="ihatereading.in"
				target="_blank"
				style="
					text-decoration: underline;
					color: rgb(255, 156, 173);
					margin-left: 4px;
				"
				>iHateReading</a
			>
			<br />
			<br />
			<div
				style="
					display: flex;
					justify-content: flex-start;
					gap: 10px;
					align-items: center;
				"
			>
				<a
					href="https://twitter.com/treyvijay"
					class="twitter"
					target="_blank"
					style="color: rgb(150, 2, 255); margin: 4px"
					>Twitter</a
				>
				<a
					href="https://dev.to/shreyvijayvargiya"
					class="devto"
					target="_blank"
					style="color: orange; margin: 4px"
					>Devto</a
				>
				<a
					href="https://www.youtube.com/channel/UC6I-Tz6QwYbJpoIK7l0NtXA"
					class="youtube"
					style="color: rgb(255, 0, 255); margin: 4px"
					target="_blank"
					>Youtube</a
				>
			</div>
		</div>
	</div>
</html>
